<!DOCTYPE html>
<html>
<body>
  <form action="/users" method="post" accept-charset="utf-8">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username"><br><br>
    <label for="pwd">Password:</label>
    <input type="password" id="pwd" name="pwd"><br><br>
    <label for="email">E-mail:</label>
    <input type="email" id="email" name="email"><br><br>
    <input type="submit" value="Submit">
  </form>
</body>
</html>